body {
  overflow: hidden;
}
html,
body,
.full-height {
  height: 100%;
}
.col-wrapper {
  display: flex;
}
@media(max-width: 600px) {
  .col-left, .col-right {
    height: auto;
  }
  .col-wrapper {
    flex-direction: column;
  }
  .col-right {
    width: 100% !important;
    height: 42vh;
    overflow-y: auto;
  }
}
.col-left {
  flex: 1;
}
.col-right {
  width: 320px;
}
.col-right-content {
  overflow-y: auto;
  max-height: 100%;
  padding: 15px;
}
.map {
  height: 100%;
  width: 100%;
}
.legend .title {
  display: none !important;
}
.legend-box {
  display: none !important;  
}
.legend-values .key {
  display: none !important;
}
.leaflet-marker-icon {
  width: 100px !important;
  height: auto !important;
  padding: 10px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
  text-align: left !important;
}
.filter label {
  font-weight: normal;
}