html,
body {
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%
}

.legend .title {
  display: none !important;
}
.legend-box {
  display: none !important;  
}
.legend-values {

}
.legend-values .key {
  display: none !important;
}
.legend-values .value {

}
.leaflet-marker-icon {
  width: 100px !important;
  height: auto !important;
  padding: 10px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
  text-align: left !important;
}