body {
  overflow: hidden;
}
html,
body,
.full-height {
  height: 100%;
}
.col-left {
  width: 80%;
  float: left;
}
.col-right {
  width: 20%;
  float: left;
}
.col-right-content {
  overflow-y: auto;
  max-height: 100%;
  padding: 15px;
}
.map {
  height: 100%;
  width: 100%;
}
.legend .title {
  display: none !important;
}
.legend-box {
  display: none !important;  
}
.legend-values {

}
.legend-values .key {
  display: none !important;
}
.legend-values .value {

}
.leaflet-marker-icon {
  width: 100px !important;
  height: auto !important;
  padding: 10px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
  text-align: left !important;
}
.filter label {
  font-weight: normal;
}