.flatmarker {
    opacity: 0.8;
    cursor: pointer;
    pointer-events: all !important;
}
.flatmarkerHovered {
    stroke-width: 1px;
    stroke: #333;
    opacity: 1;
}
.flatmarkerSelected {
    stroke: #000;
    stroke-width: 2px;
}

.flatTooltipRect {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1px;
}

.flatTooltipText {
    fill: red;
    transform: translate(8px, 16px);
    max-width: 100px;
}

.containerWithSelection .flatmarker {
    opacity: 0.4;
}

.containerWithSelection .flatmarkerSelected {
    opacity: 1 !important;
}